<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17A2255B1E883C9600FD3982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17A225751E883C9700FD3982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17A225801E883C9700FD3982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
